
.carousel{
    position: relative;

    height: 38rem;
    width: 100%;

   
  
    overflow: hidden;
}

.carousel__button{
    position: absolute;

    width: 2.25rem;
    height: 2.25rem;

    top: 50%;

    transform: translateY(-50%);

    border: none;
    border-radius: 50%;

    background-color: #FFFFFFAA;
    background-size: .5rem;
    background-position: center;
    background-repeat: no-repeat;

    padding: .2rem;

    z-index: 10;
}

.carousel__button--anterior{
    left: 0;

    margin-left: 1rem;

    background-image: url(../imagens/seta-esquerda.svg);
    background-position: .8rem center;
}

.carousel__button--proximo{
    right: 0;

    margin-right: 1rem;

    background-image: url(../imagens/seta-direita.svg);
    background-position: .95rem center;
}

.carousel__lista-produtos{
    position: relative;

    height: 100%;
    width: 100%;
}

.carousel__produto{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
}

.carousel__imagem-container{
   width: 100%;
   height: 100%;
}

.carousel__imagem{
    width: 100%;

    object-fit: cover;
}

.carousel__indicadores{
    position: absolute;
    bottom: 0;

    width: 100%;

    display: flex;
    justify-content: center;
}

.carousel__indicador{
    width: 2.25rem;
    height: .25rem;

    background-color: #FFFFFFAA;

    border-radius: 2rem;

    border: none;
    margin: .5rem 1rem;
}

.carousel__indicador--ativo{
    background-color: #1DBF39;
}

@media (max-width: 600px){
    .carousel {
        position: relative;
        height: 15rem;
        width: 100%;
        overflow: hidden;
    }
    .carousel__imagem{
        width: 100%;
    
        object-fit: cover;
    }

    .carousel__button{
        position: absolute;
    
        width: 2rem;
        height: 2rem;
    
        top: 40%;
    
        transform: translateY(-50%);
    
        border: none;
        border-radius: 50%;
    
        background-color: #FFFFFFAA;
        background-size: .5rem;
        background-position: center;
        background-repeat: no-repeat;
    
        padding: .2rem;
    
        z-index: 10;
    }

    .carousel__indicador{
    width: 2rem;
    height: .25rem;

    background-color: #FFFFFFAA;

    border-radius: 2rem;

    border: none;
    margin: .5rem;
}

    
}



