@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contato__titulo {
    color: #000000;
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 5px;
    font-family: "Teko";
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

/*------------FORMULARIO-------------*/

.input_padrao{
    display: flex;


    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;


    padding-bottom: .5rem;
    padding-top: .5rem;
    


    font-family: 'Stick No Bills', sans-serif;
	font-weight: 400;
	font-size: 15px;


	border : none; 
    background-color: #DDDDDD;
    border-radius: 2rem;
}
form label{
	display: block;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
    letter-spacing: 2px;
	font-size: 1.5rem;
	color:  #1DBF39;

}

 #seu_nome, #seu_email{
     margin-left: 1rem;
    padding-right: 8.5rem;
    padding-left: .5rem;
  
 }
 

 #sua_mensagem{
     margin-left: 0;
    padding-left: 1rem;
    padding-right: 5.5rem;
 }




.contato__botao {

    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 300;
    color: #FFFFFF;

    background-color: #1DBF39;

    width: 100%;

    margin-top: 2.5rem;

    transition: all .4s;
}

@media screen and (min-width:1024px){

    
    .contato__titulo {
        color: #000000;
        font-weight: 800;
        font-size: 4rem;
        font-family: 'Stick No Bills', sans-serif;
        text-transform: uppercase;
        text-align: center;
    
        margin-bottom: 2rem;
    }

    form label{
        display: block;
        font-family: "Teko";
        font-weight: 400;
        font-size: 2rem;
        color:  #1DBF39;
        margin-bottom: 1rem;
    
    }

    #seu_nome, #seu_email{
        position: relative;
        padding-right: 21rem;
        padding-left: .5rem;
     }

    #sua_mensagem{
        margin-right: 2rem;
        padding-left: 1rem;
        padding-right: 16rem;
     }
     .contato__botao:hover{
        color: #FFFFFF;
        background-color: #1DBF39;
    }

}