@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Teko:wght@300;400;500;600;700&display=swap');
.destaques{
    background-color: #1DBF39;
    padding-bottom: 4rem;
}

.destaques__titulo{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 4rem;
    font-family: "Teko";
    text-transform: uppercase;
    text-align: center;

    padding-top: 5rem;
    margin-bottom: 7rem;
}

@media (max-width: 600px){

   
    .destaques__titulo{
        color: #FFFFFF;
        font-weight: 300;
        font-size: 5rem;
        font-family: "Teko";
        text-transform: uppercase;
        text-align: center;
    letter-spacing: 5px;

        padding-top: 5rem;
        margin-bottom: 7rem;
    }
    
}



