main{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

.login{
    text-align: center;
    width: 350px;
    box-sizing: border-box;
    padding: 40px;
  
}

.login h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 6rem;
    font-family: "Teko";
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    color: #1DBF39;
}

.login .input_group{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.login .input_group input{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Stick No Bills', sans-serif;
    outline: none;
    border: 1px solid #000000;
}

.login .input_group span{
    position: absolute;
    top: 35%;
    left: 10%;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: #fff;
    text-transform: uppercase;
    font-family: "Teko";
    letter-spacing: 5px;
}

.login .input_group input:focus ~ span,
.login .input_group input:valid ~ span{
    top: -15%;
    left: 9%;
    font-size: 1rem;
    padding: 2px 4px;
   
    background: #1DBF39;
    color: #fff;
}

.login .input_group input[type="submit"]{
    background: #000;
    color: #fff;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: .5s;
    font-family: "Teko";
    letter-spacing: 5px;
    font-size: 2rem;
}


.login .input_group input[type="submit"]:hover{
    background: #1DBF39;
    
  
}


section a{
    position:relative;
    color: #1DBF39;
    background: none;
    display: block;
    transition: all .3s; 
    font-family: "Teko";
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

section a:hover{
    color: #FFFFFF;
}

