.institucional {

    background-color: #000000;


    display: flex;
    flex-direction: column;
    align-items: center;

    color: #1DBF39;
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.institucional__titulo {
    color: #1DBF39;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Verdana';
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

.institucional__descricao {
    margin-bottom: 2rem;
}

.institucional__endereco {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}

.institucional__contato {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.institucional__contato-telefone {
    line-height: normal;
}

.institucional__contato-email {
    color: #1DBF39;
    text-decoration: underline;
    display: block;
}

.institucional__video {
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    .institucional__titulo{
        font-size: 3rem;
    }
    .institucional__conteudo {
        width: 100%;

        display: flex;
        justify-content: space-between;

        text-align: left;
    }

    .institucional__video {
        align-self: center;

       max-width: 300px;
    }

    .institucional__contato-email {
        display: block;
    }
}