
.chamada__loja{
  
    background:url(../imagens/loja_fem4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 12rem;
    padding-bottom: 5rem;

}

#titulo {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Teko";

   
    padding-bottom: 1rem;
}

/*--------------AREA FEMININA CARROSSEL-----------------*/

.carrossel__fem{
    background: #000000;
    padding-top: 4rem;
}
.carrossel__fem h1{
    padding-bottom: 3rem;
    text-align: center;
    font-family: "teko";
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 4rem;
    color: #1DBF39;
}

.carousel{
   
    width: 100%;

}

@media screen and (min-width: 1024px){
  
}
