@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Teko', sans-serif;
}
* h3{
    text-transform: uppercase;
}
.modalidades {
    background:url(../imagens/silhueta.jpg);
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 5rem;

}

.modalidades__titulo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    


    margin-bottom: 1.30rem;
    padding-bottom: 1rem;
}


.artes__jiu{
    background: #1DBF39;
    padding-top: 3rem;
}

.artes__jiu h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #DDDDDD;
   
}

.artes__jiu p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.artes__jiu img{
    width: 100%;
    align-items: center;
}
    /*----------------------MUAY THAI-----------------*/
.artes__thai{
    background: #303030;
    padding-top: 3rem;
}

.artes__thai h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #1DBF39;
   
}

.artes__thai p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    color: #dddddd;
}

.artes__thai img{
    width: 100%;
    align-items: center;
}

/*--------------------------BOXE---------------------*/
.artes__boxe{
    padding-top: 3rem;
}

.artes__boxe h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 5px;
   
}

.artes__boxe p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    color: #1DBF39;
}

.artes__boxe img{
    width: 100%;
    align-items: center;
}

#carouselExampleControls{

    padding-bottom: 3rem;
}

#carouselExampleControlsNoTouching{

    padding-bottom: 3rem;
}

#carouselExampleIndicators{

    padding-bottom: 3rem;
}





@media screen and (min-width: 1024px) {

    .modalidades{
        background: #FFFFFF;
        background-size: cover;
     
    }

    .modalidades__titulo{
        font-size: 6rem;
        color: #1DBF39;
        padding-bottom: 5%;
    }
    /*-------------------------JIU JITSU-------------------*/
    .artes__jiu{
        background: #1DBF39;
        padding-top: 3rem;
     
    }
    
    .artes__jiu h3{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 5px;
        color: #DDDDDD;
       
    }
    
    .artes__jiu p{
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 3rem;
    }
    
    .artes__jiu img{
        width: 50%;
        align-items: center;
       
    }
        /*----------------------MUAY THAI-----------------*/
    .artes__thai{
        background: #303030;
        padding-top: 3rem;
    }
    
    .artes__thai h3{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 5px;
        color: #1DBF39;
       
    }
    
    .artes__thai p{
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 3rem;
        color: #dddddd;
    }
    
    .artes__thai img{
        width: 50%;
        align-items: center;
    }
    
    /*--------------------------BOXE---------------------*/
    .artes__boxe{
        padding-top: 3rem;
    }
    
    .artes__boxe h3{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 5px;
       
    }
    
    .artes__boxe p{
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 3rem;
        color: #1DBF39;
    }
    
    .artes__boxe img{
        width: 50%;
        align-items: center;
    }
    
    #carouselExampleControls{
        width: 50%;
        margin-left: 25%;
        padding-bottom: 3rem;
    }

    #carouselExampleControlsNoTouching{
        width: 50%;
        margin-left: 25%;
        padding-bottom: 3rem;
    }

    #carouselExampleIndicators{
        width: 50%;
        margin-left: 25%;
        padding-bottom: 3rem;
    }

   
}